/*Спецификация*/
body {
	font-family: 'PT Sans', sans-serif;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5 {
	font-weight: bold;
	color: #010101;
}
h3 {
	font-weight: normal;
}
h2 {
	text-align: center;
}
.title {
	text-align: center;
	padding-bottom: 90px;
}

.title__main {
	font-size: 32px;
	margin-bottom: 15px;
}
.title__text {
	color: #313841;
	font-size: 20px;
	line-height: 24px;
	max-width: 735px;
	margin: 0 auto
}
.title__main--yellow {
	color: #fcdb00;
}
.title__text--grey {
	color: #898989;
}
/*header section*/
.header {
	padding-top: 58px;
	padding-bottom: 107px;
	background-color: #fcdb00;
	color: #010101;
}
.menu {
	margin-top: 8px;
}
.menu__item {

}
.menu__item a {
	font-size: 22px;
	font-weight: 700;
	color: #010101;
}
.offer {
	margin-top: 117px;
}
.offer__title {
	font-size: 32px;
	margin-bottom: 18px;
}
.offer__intro {
	font-size: 20px;
	line-height: 24px;
	color: #313841;
	margin-bottom: 23px;
	max-width: 310px;
}

.offer__text{
	color: #555555;
	font-size: 16px;
	line-height: 20px;
	max-width: 390px;
	margin-bottom: 40px;
}
.icons__item:not(:last-child) {
	margin-right: 38px;
}
.icons__item a {
	color: #010101;
	font-size: 42px;
	transition: all 300ms ease;
}
.icons__item a:hover {
	text-decoration: none;
	color: #ffffff;
}
.ipad {
	display: block;
	margin: 60px auto 0;
}
/*features section*/
.features {
	padding-top: 120px;
	padding-bottom: 100px;
}
.feature__icon {
	font-size: 50px;
	font-weight: 400;
	line-height: 52.47px;
	margin-right: 37px;
}
.feature {
	padding: 17px 14px;
	margin-bottom: 20px;
}
.feature__content {
	
}
.feature__title{
	font-size: 22px;
	line-height: 24px;
}
.feature__text{
	color: #898989;
	font-size: 16px;
	line-height: 20px;
}
/*subscribe section*/
.subscribe {
	padding-top: 95px;
	padding-bottom: 50px;
	background-color: #010101;
}
.form {
	text-align: center;
}
.form__input{
	background-color: #ffffff;
	border-radius: 5px;
	font-size: 16px;
	font-family: "PT Sans";
	width: 580px;
	padding: 0 24px;
	height: 50px;
	margin-right: 20px;
	outline: none;
}
.form__btn {
	font-family: "PT Sans";
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	background-color: #fcdb00;
	width: 126px;
	height: 50px;
	border: 2px solid #010101;
	border-radius: 5px;
}

/*footer section*/
.footer {
	background-color: #010101;
	padding-bottom: 90px;
}
.contacts {
	max-width: 185px;
	margin:  0 auto;
	text-align: center;
}
.address {
	color: #8f8f8f;
	font-size: 16px;
	line-height: 20px;
}

/*media section*/

@media screen and (max-width: 992px) {
	.logo {
		display: block;
		margin: 0 auto 30px;
	}
	.offer {
		text-align: center;
		margin-top: 80px;
	}
	.features {
		padding-top: 80px;
		padding-bottom: 60px;
	}
	.title {
		padding-bottom: 50px;
	}
	.subscribe{
		padding-top: 60px;
	}
	.form__input{
		margin-right: 0;
		width: 100%;
	}
	.form__btn {
		margin-top: 15px;
		width: 100%;
	}
}	
@media screen and (max-width: 576px) {
	.header{
		padding-top: 20px;
		padding-bottom: 40px;
	}
	.ipad {
		margin-top: 30px;
		width: 100%;
	}

	.menu__item {
		margin-bottom: 15px;
	}
	.offer {
		margin-top: 35px;
	}
	.features{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.title {
		padding-bottom: 45px;
	}
	.feature {
		padding: 0 14px;
	}
	.subscribe{
		padding-top: 30px;
	}
}